@import "~antd/dist/antd.css";

.comment-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background: #fff;
  padding: 20px;
}
